body {
  background-color: black;
  font-family: "Nunito", sans-serif;
  line-height: 40px;
}

h1,
h2,
h3 {
  text-align: center;
  padding: 10px;
}

h2 {
  font-size: 24px;
  padding-top: 15px;
}

h3 {
  font-size: 20px;
}

a {
  color: #17a2b8;
}

.current-temp {
  font-size: 50px;
  text-align: center;
  padding: 5px;
}

.temp .max,
.temp .min {
  padding-bottom: 10px;
}

.col-6.max {
  text-align: right;
  padding-right: 5px;
  padding-left: 0;
}

.col-6.min {
  text-align: left;
  padding-left: 5px;
  padding-right: 0;
}
.max {
  text-align: right;
  padding-right: 10px;
  padding-left: 0;
}

.min {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.container {
  max-width: 360px;
  background-color: white;
  padding: 30px 25px;
  margin-top: 80px;
  border-radius: 15px;
}

.day {
  padding: 0 5px;
}

.navbar {
  padding: 0;
  justify-content: normal;
}

.btn {
  display: block;
  margin: 10px auto;
}

.footer {
  color: #fff;
  max-width: 360px;
  margin: auto;
}
